.oculto{
    display: none;
}

.resaltado{
    background: cornflowerblue;
    padding: 10px 15px;
    color: #000 !important;
    border-radius: 8px;

    &:hover{
        box-shadow: 5px 7px 6px #414141
    }
}